.MessagesList {
  list-style-type: none;
  max-width: 600px;
  .MessageBox {
    .message-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
}
